.site-projects{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 94vh;
}
.all-projects {
text-align: center;
}
.all-projects ul{
  padding: 0;
  list-style: none;
}
.group-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-on-project{
  display: flex;
  align-items: center;
}
.link-on-project h3{
  padding: 0;
  margin: 0;
}
.link-on-project a{
color: black;
}
.link-on-project a:hover{
  color: #B73722;
}

.small-github{
  font-size: 25px;
}

