body{
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4{
  font-weight: 400;
  padding-bottom: 10px;
}
h1, h2{
  color:  #C43219;

}
h3{
  font-size: 20px;
}

.iconify{
  color: #C43219;
  font-size: 40px;
  margin: 5px;
}
.navbar-moje{
  background-color: #C43219;
}
.all-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
.introduction{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.introduction--container{
  flex-direction: column;
  border-bottom: #c4331986 solid 1px;
}
.introduction--container .text{
  text-align: center;
}
.introduction--container img{
  width: 100%;
  padding: 20px;
}

.introduction--ikons{
  margin-bottom: 20px;
}
.my-work h2{
  text-align: center;
}
.my-work--container{
  box-shadow: 0px 0px 41px -19px rgba(166,163,166,0.9);

}
.about-me--container{
  border-bottom: #c4331986 solid 1px;

}
.about-me--ikons{
  margin: 10px;
}

.my-project--gallery{
  padding-bottom: 15px;
}
.my-project--gallery img{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 41px -19px rgba(166,163,166,0.9);

}

figure{
  padding-bottom: 10px;
}
figcaption{
  font-style: italic;
  font-size: 15px;
}
.contact--container{
  flex-direction: column;
  box-shadow: 0px 0px 41px -19px rgba(166,163,166,0.9);

}

.button{
  background-color: #B73722;
  color: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 30px;
  margin: 10px;
}
.why-hire-me h2{
  text-align: center;
}
.why-hire-me--container{
  background-color: white;
  box-shadow: 0px 0px 41px -19px rgba(166,163,166,0.9);
}
.contact--container h3{
  margin: 0;
}
.ikons-bottom{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.nav-bottom ul{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.nav-bottom a{
  color: black;
  padding: 5px;
}
footer{
  background-color: #C43219;
  color: white;
  box-shadow: 0px 0px 41px -19px rgba(166,163,166,0.9);

  display: flex;
  justify-content: center;
  }
footer div{
  display: flex;
  justify-content: space-around;
  width: 200px;
}
footer p{
  margin: 0;
}
@media only screen and (min-width: 760px) {
  
.introduction--container{
  flex-direction: row;
  width: 80%;
  height: 300px;
}
.introduction--container .text{
  text-align: left;

}
.introduction--container img{
  width: 40%;
  padding: 20px;
}

.introduction--ikons{
  width: 80%;
  text-align: right;
}

.my-work{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.my-work h2{
width: 100%;
}
.my-work--container{
 flex-direction: column;
  text-align: center;
  width: 25%;
  height: 610px;
}

.about-me{
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me--container{
  width: 80%;
}
.about-me--container h2{
 width: 60%;
}
.my-project{
  display: flex;
  justify-content: center;
}
.my-project--container{
  width: 80%;
}
.my-project--gallery{
  padding-top: 20px;
  width: 90%;
}
.why-hire-me{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  
}
.why-hire-me--all{
  width: 80%;
  padding-bottom: 15px;
}
.why-hire-me--container{
  margin-bottom: 30px;
}
.contact{
  display: flex;
  justify-content: center;

}
.contact--container{
  width: 75%;
}
.contact--container p{
  font-size: 12px;
}
.contact--container h3{
  padding: 0;
  font-size: 30px;
}
.contact--container a{
  text-decoration: none;
  color: #C43219;
}
.ikons-bottom{
  margin-top: 0;
 padding-bottom: 20px;
}
.nav-bottom{
  padding: 20px;
}
}